/*TYPOGRAPHY*/
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Raleway:400,600,700');

body {
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	color: #2c3539; }

h1, h2, h3, h4 {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	color: #2c3539;
	text-transform: uppercase; }
	
h1 { font-size: 2rem; }
h2 { font-size: 1.5rem; }
h3 { font-size: 1.2rem; }
h4 { font-size: 1rem; }

@media screen and (min-width:40em) {
	body { font-size: 16px; }
	
	h1 { font-size: 2.5rem; }
	h2 { font-size: 1.75rem; }
	h3 { font-size: 1.3125rem; }
	h4 { font-size: 1.25rem; }
}

label { line-height: 1.5!important; }



/* */
.button {
	font-size: 1rem;
	font-weight: 700;
	text-transform: uppercase;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	padding-top: 0.6875rem;
	padding-bottom: 0.6875rem; }

.button.purple { background-color: #992266;}


.button-edit {
	font-size: 0.75rem;
	color: #fff;
	background-color: #992266;
	padding: 4px 8px;
	border-radius: 4px; }
.button-edit:hover { color: #fff; }
	
.button-edit i { margin-right: 8px; }




/* NAVIGATION */
#main-navigation {
	padding-top: 19px;
	padding-bottom: 20px;
	position: relative;
	border-bottom: 1px solid #f5f5f5;
	z-index: 100; }
	
#main-navigation ul {
	padding: 0;
	margin: 0;
	float: right;
	display: table;
	list-style-type: none; }
	
#main-navigation a { display: block; }
	
#main-navigation ul > li {
	position: relative;
	white-space: nowrap;
	vertical-align: middle;
	display: table-cell; }


#main-navigation ul > li > a {
	font-size: 0.875rem;
	font-weight: 600;
	color: #999;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 5px;
	padding-bottom: 5px;
	display: block; }
#main-navigation ul > li.has-sub > a { padding-right: 30px; }

#main-navigation ul > li:hover > a { color: #94c44b; }
	
#main-navigation ul > li a.arrow {
	padding-left: 6px;
	padding-right: 0;
	position: absolute;
	right: 0;
	top: 0;
	border-left: 1px solid #f2f2f2; }
	
#main-navigation ul ul {
	display: none;
	position: absolute;
	right: 0;
	top: 32px;
	box-shadow: 0 1px 1px rgba(0,0,0,0.2); }
#main-navigation ul li:hover ul { display: block; }
	
#main-navigation ul ul > li {
	border-bottom: 1px solid #f2f2f2;
	display: block; }
	
#main-navigation ul ul > li span {
	color: #fff;
	line-height: 24px;
	background-color: #94c44b;
	height: 24px;
	display: inline-block;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	position: absolute;
	right: 4px;
	top: 4px;
	border-radius: 4px; }


#main-navigation ul ul a {
	font-size: 0.75rem;
	background-color: #fff;
	padding-top: 6px;
	padding-bottom: 7px;  }

	

	


#social-media-navigation {
	padding: 0;
	margin: 0;
	margin-bottom: 2rem;
	display: table;
	list-style-type: none; }
	
#social-media-navigation li {
	padding-left: 0.9375rem;
	padding-right: 0.9375rem;
	display: table-cell; }
#social-media-navigation li:first-child { padding-left: 0; }
#social-media-navigation li:last-child { padding-right: 0; }

#social-media-navigation a {
	color: #94c44b; 
	background-color: #fff;
	width: 48px;
	height: 48px;
	display: block;
	position: relative;
	border-radius: 50%; }
	
#social-media-navigation i {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%); }
	
	

.practitioner-action {
	padding-left: 2rem;
	padding-right: 2rem;
	margin: auto;
	margin-bottom: 1rem;
	display: block;
	list-style-type: none; }
.search-result .practitioner-action { display: block; }
	
.practitioner-action li {
	padding-right: 2rem;
	margin-bottom: 1rem;
	display: block;
	position: relative; }
.search-result .practitioner-action li { padding-right: 0; }

.practitioner-action div {
	color: #fff;
	background-color: #2c3539;
	width: 40px;
	height: 40px;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	border-radius: 50%; }
.practitioner-action.dashboard div, .search-result .practitioner-action div {
	background-color: #94c44b;
	width: 32px; height: 32px; }
	
.practitioner-action i {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%); }
.search-result .practitioner-action div i { font-size: 12px; }

.practitioner-action a {
	color: #2c3539;
	line-height: 40px;
	text-align: left;
	text-transform: uppercase;
	height: 40px;
	padding-left: 48px;
	display: block; }
.practitioner-action.dashboard a, .search-result .practitioner-action a {
	font-size: 12px;
	line-height: 32px;
	height: 32px;
	padding-left: 40px; }
	
	
@media screen and (min-width: 40em) {
	.practitioner-action {
		padding: 0;
		display: table; }
		
	.practitioner-action li {
		margin-bottom: 0;
		display: table-cell; }
}




.navigation-footer {
	padding: 0;
	margin: 0;
	list-style-type: none; }
	
.navigation-footer li {
	padding: 0;
	margin-bottom: 1rem; }
	
.navigation-footer a {
	font-size: 0.875rem;
	color: #fff; }



#main-navigation .logo-text {
	margin-left: 72px;
	display: block; }
	
#main-navigation .logo-mark {
	background-color: #fff;
	background-image: url(../img/logo-mark.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 64px;
	height: 64px;
	border-radius: 50%;
	display: block;
	position: absolute;
	left: 10px;
	top: 4px;
	border: 1px solid #94c44b;
	transform: none; }
	
@media screen and (min-width:40em) {
	#main-navigation .logo-text { margin-left: 0; }
	
	#main-navigation .logo-mark {
		width: 112px;
		height: 112px;
		left: 50%;
		top: auto;
		bottom: 0;
		border: 2px solid #94c44b;
		transform: translate(-50%, 50%); }
}

.trigger-menu {
	width: 30px;
	height: 24px;
	margin-top: 24px;
	margin-bottom: 24px;
	display: block;
	position: relative;
	float: right; }
.trigger-menu:before, .trigger-menu:after {
	content: "";
	background-color: #94c44b;
	height: 4px;
	position: absolute;
	right: 0; }
.trigger-menu:before {
	width: 15px;
	top: 0; }
.trigger-menu:after {
	width: 21px;
	bottom: 0; }

.trigger-menu span {
	background-color: #94c44b;
	width: 100%;
	height: 4px;
	display: block;
	position: absolute;
	top: 10px; }




/* HEADER */
header { position: relative; }

#home-header { margin-bottom: 6rem; }
#practitioner-header, #article-header { margin-bottom: 0; }

#search-result-header { margin-bottom: 2rem; }

#practitioner-header .camera {
	color: #992266;
	background-color: rgba(255,255,255, 0.8);
	width: 32px;
	height: 32px;
	margin-top: 8px;
	display: block;
	position: relative;
	border-radius: 4px; }
	
#practitioner-header .camera i {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%); }


.container { width: 100%; }
#home-header .container {
	position: absolute;
	left: 0;
	bottom: -40px; }
	
#home-header h1 {
	font-family: 'Permanent Marker', cursive; 
	color: #fff;
	margin-bottom: 2rem;
	text-shadow: 0px 1px 3px rgba(0,0,0,0.3); }
	
#article-header .container { padding-top: 4rem; }

#article-header h1 {
	color: #fff;
	margin-bottom: 2rem;
	text-shadow: 0px 1px 3px rgba(0,0,0,0.3); }
	

section .header-large {
	background-color: #f2f2f2;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 480px; }
	
	
section .header-small {
	background-color: #f2f2f2;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 240px; }
	
section .header-medium {
	background-color: #f2f2f2;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	min-height: 320px; }

	
	
	
/* SECTION */
section { margin-bottom: 5rem; }
#home-recommended-reading { margin-bottom: 10rem; }

section header h2 {
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 2rem;
	position: relative; }
	
section header h2 span {
	background-color: #fff;
	padding-left: 1rem;
	padding-right: 1rem; 
	display: inline-block;
	position: relative; }
section header h2:before {
	content: "";
	width: 100%;
	height: 0;
	position: absolute;
	left: 0;
	top: 50%;
	border-bottom: 1px solid #992266; }
	
	

#practitioner-info h2 {
	padding-left: 1rem;
	padding-right: 1rem;
	display: inline-block;
	border-bottom: 1px solid #992266; }
	
#practitioner-info h3 { color: #94c44b; }

#practitioner-info .thumb {
	width: 160px;
	margin: auto;
	margin-top: -80px;
	position: relative;
	border-radius: 50%; }

#practitioner-info .thumb img {
	background-color: #f2f2f2;
	overflow: hidden;
	width: 160px;
	height: 160px;
	display: block;
	border: 3px solid #fff;
	border-radius: 50%; }
	
#practitioner-info .camera {
	color: #992266;
	background-color: rgba(255,255,255, 0.8);
	width: 32px;
	height: 32px;
	margin-top: 8px;
	display: block;
	position: absolute;
	left: 50%;
	bottom: 8px;
	border-radius: 4px;
	transform: translateX(-50%); }
	
#practitioner-info .camera i {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%); }
	

#practioner-map .map {
	background-color: #f2f2f2;
	width: 100%;
	height: 480px;
	margin-bottom: 1rem; }




/* */
.icon-for-practitioners {
	color: #fff;
	background-color: #94c44b;
	width: 128px;
	height: 128px;
	margin: auto;
	margin-top: 1rem;
	margin-bottom: 1rem;
	display: block;
	position: relative;
	border-radius: 50%; }
.icon-for-practitioners:hover {
	color: #fff;
	background-color:  #992266; }
	
.icon-for-practitioners i {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%); }
	
.icon-for-practitioners + h3 { text-align: center; }
	
.icon-for-practitioners + h3 + p { font-size: 0.875rem; }




/* */
.recommended-article .row { margin-bottom: 3.5rem; }

.recommended-article h3 a { color: #94c44b; }

.recommended-article .thumb {
	position: relative;
	border-radius: 50%; }

.recommended-article .thumb a {
	background-color: #f2f2f2;
	overflow: hidden;
	width: 72px;
	height: 72px;
	display: block;
	position: absolute;
	left: 50%;
	bottom: 0;
	border: 3px solid #fff;
	border-radius: 50%;
	transform: translate(-50%, 50%); }
	
	
	
/* */
.testimonials .row { margin-bottom: 3.5rem; }

.testimonials blockquote {
	color: #2c3539;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	margin-bottom: 0.5rem;
	border: none; }
	
.testimonials blockquote + cite {
	font-family: 0.75rem;
	color: #2c3539;
	margin: 0;
	margin-bottom: 1.5rem; }
	
.testimonials cite:last-child { margin: 0; }

	
	
	
.search-result-container .button {
	font-weight: 700;
	text-transform: uppercase;
	background-color: #992266;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	padding-top: 1rem;
	padding-bottom: 1rem; }
	
.search-result-container h4 { color: #94c44b; }

	
	
.search-result { display: table; margin-bottom: 2rem; }

.search-result div {
	display: table-cell;
	vertical-align: top; }
.search-result > div:last-child { padding-left: 0.625rem; } 
	
.search-result .thumb {
	display: block;
	width: 64px;
	height: 64px;
	border-radius: 50%;
	border: 3px solid #94c44b; }
	
.search-result .thumb img { border-radius: 50%; }



.plans {
	height: inherit;
	padding-top: 1rem;
	padding-bottom: 1rem;
	border: 1px solid #999; }
.plans.highlight {
	border: 1px solid #992266!important; }

.plans h1 {
	line-height: 5rem;
	margin-left: 1rem;
	margin-right: 1rem;
	border-bottom: 1px solid #e1e1e1; margin-bottom: 1.5rem; }

.plans h1, .plans h3, .plans p { color: #666; }
.plans.highlight h1, .plans.highlight h3, .plans.highlight p { color: #992266; }
.plans h1 sub { font-size: 0.25em; }

.plans ul {
	padding-left: 1rem;
	padding-right: 1rem;
	padding-bottom: 2rem;
	margin-left: 1rem;
	margin-right: 1rem;
	border-bottom: 1px solid #e1e1e1; }
	
.plans .button {
	font-weight: 700;
	text-transform: uppercase;
	background-color: #999;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	padding-top: 1rem;
	padding-bottom: 1rem; }
.plans.highlight .button { background-color: #992266; }



#membership-level h3 {
	font-weight: 400;
	color: #94c44b; }
	
#membership-level h3 strong {
	font-size: 2em;
	font-weight: 700; }
	
#membership-level h4 { color: #666; }
	
#membership-level h4 strong {
	font-weight: 700;
	font-size: 1.25em;
	color: #94c44b; }






/* FOOTER */
#main-footer {
	background-color: #94c44b;
	padding-top: 4rem;
	padding-bottom: 4rem; }
	
#main-footer h3 {
	color: #fff;
	text-transform: uppercase; }
	
#main-footer p {
	font-size: 0.875rem;
	color: #fff; }

	
#main-footer .logo {
	background-image: url(../img/logo-wmp.png);
	background-position: center center;
	background-repeat: no-repeat;
	width: 100px;
	height: 96px;
	margin: auto;
	display: block; }

	
	
	
/* FORM */
input[type="text"], input[type="email"], input[type="password"] {
	height: 2.5rem;
	box-shadow: none; }
	
form .required { position: relative; }
form .required:before {
	content: "*";
	font-size: 3rem;
	color: #992266;
	line-height: 0.75;
	position: absolute;
	right: -4px;
	top: 0; }
	
form label {
	font-size: 1rem;
	padding-top: 2px;
	padding-bottom: 2px; }
	
form select + p {
	font-size: 0.75rem;
	margin-top: -1rem; }
	
form .cta-arrow {
	color: #fff;
	background-color: #94c44b;
	width: 64px;
	height: 64px;
	padding: 0;
	margin-bottom: 1rem;
	position: relative;
	border: none;
	border-radius: 50%;
	cursor: pointer; }
	
form .cta-arrow i {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%); }


.form-search input[type="text"] {
	height: 2.5rem;
	box-shadow: none; }
	
.form-search .field-location { padding-right: 56px; }
	
.form-search select {
	background: none;
	background-color: #fff;
	height: 2.5rem; }
	
.form-search button.search-circle {
	color: #fff;
	background-color: #992266;
	width: 80px;
	height: 80px;
	margin-top: 2rem;
	position: relative;
	border: 3px solid #fff;
	border-radius: 50%;
	cursor: pointer; }
	
.form-search button.search-circle i {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%); }
	
.form-search .btn-location {
	color: #666;
	width: 2.5rem;
	height: 2.5rem;
	margin-right: 18px;
	display: block;
	position: absolute;
	right: 0;
	top: 0; }
.form-search .btn-location:hover { color: #992266; }
	
.form-search .row, .form-search .columns { position: relative; }
	
.form-search .btn-location i {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%); }
	
.form-search .advanced-search {
	font-size: 0.75rem;
	font-weight: 600;
	color: #1a1a1a; }
	

#register-form header { margin-top: 5rem; }
#register-form header:first-child { margin-top: 0; }


#register-form header h2 {
	font-size: 2rem;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 2rem;
	position: relative; }
	
#register-form header h2 span {
	background-color: #fff;
	padding-left: 1rem;
	padding-right: 1rem; 
	display: inline-block;
	position: relative; }
#register-form header h2:before {
	content: "";
	width: 100%;
	height: 0;
	position: absolute;
	left: 0;
	top: 50%;
	border-bottom: 1px solid #992266; }
	
#register-form p { color: #666; }

#register-form .button {
	font-weight: 700;
	text-transform: uppercase;
	background-color: #992266;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	padding-top: 1rem;
	padding-bottom: 1rem; }


.faux-checkbox input[type="checkbox"] {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	opacity: 0; }
	
.faux-checkbox label {
	padding-left: 40px;
	position: relative;
	z-index: 2; }
	
.faux-checkbox label:before {
	content: "";
	width: 32px;
	height: 32px;
	margin: 0;
	position: absolute;
	left: 0;
	top: 0;
	border: 1px solid #999; }
	
.faux-checkbox label:after {
	content: "\f00c";
	font: normal normal normal 21px/1 FontAwesome;
	color: #666;
	text-align: center;
	line-height: 32px;
	width: 32px;
	height: 32px;
	margin: 0;
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	border: 1px solid #999; }
	
.faux-checkbox input[type="checkbox"]:checked + label:after { display: block!important; }



#social-media-fields input { padding-left: 48px; }

#social-media-fields .icon-socmed {
	color: #94c44b;
	width: 40px;
	height: 40px;
	position: absolute;
	left: 0.9375rem;
	top: 0; }
	
#social-media-fields .columns { position:  relative; }
	
#social-media-fields .icon-socmed i {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%); }




article {
	margin-bottom: 4rem; }
	
article hr.final {
	width: 33.3333%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 4rem; }

article h1, article h2, article h3 { text-transform: none; }

article h1, article h2 {
	margin-top: 2rem;
	margin-bottom: 1rem; }
article h1:first-child { margin-top: 0; }

article h3 {
	margin-top: 2rem;
	margin-bottom: 0; }


article figure { margin-bottom: 2rem; }
	
article p + figure { margin-top: 2rem; }

article figure figcaption {
	font-size: 0.875rem;
	padding-top: 4px;
	padding-bottom: 5px;
	margin-top: 1rem;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc; }
	
	
article blockquote {
	color: #94c44b;
	font-size: 1.75rem;
	margin-right: -100px;
	margin-left: -100px;
	padding-top: 4rem;
	padding-bottom: 4rem;
	padding-left: 0;
	padding-right: 0;
	position: relative;
	border: none; }
article blockquote:before {
	color: #94c44b;
	content: "\201c";
	font-size: 5rem;
	position: absolute;
	left: 50%;
	top: 0;
	transform: translateX(-50%); }
article blockquote:after {
	color: #94c44b;
	content: "\201d";
	font-size: 5rem;
	line-height: 3rem;
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%); }

article img { max-width: 100%!important; }


/** **/
#upload-background-modal .icon {
	color: #fff;
	background-color: #94c44b;
	width: 80px;
	height: 80px;
	margin: 0 auto 1rem;
	position: relative;
	border-radius: 50%; }
	
#upload-background-modal .icon i {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%); }
	
#upload-background-modal .container { position: relative; }

#upload-background-modal [type="file"] {
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0; }
	
	
	
/** **/
.select2-container .select2-selection--multiple, .select2-container--default.select2-container--focus .select2-selection--multiple {
	border-color: #cacaca;
	border-radius: 0; }
	
.select2-container--default .select2-selection--multiple .select2-selection__rendered, .select2-selection__rendered {
	padding-left: 8px;
	padding-right: 8px; }
	
.select2-container .select2-selection--multiple .select2-selection__rendered { display: block; }
	
.select2-container--default .select2-selection--multiple .select2-selection__choice {
	font-size: 0.875rem;
	color: #fff;
	background-color: #94c44b;
	border-color: #94c44b;
	border-radius: 0;
	padding-left: 4px;
	padding-right: 8px;
	padding-top: 0;
	padding-bottom: 0;
	margin-right: 8px;
	margin-top: 8px; }
	
.select2-search__field { height: 2rem; }
	
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
	color: #fff;
	line-height: 32px;
	text-align: center;
	width: 16px;
	height: 32px; }

.select2-container .select2-search--inline .select2-search__field {
	margin-top: 8px;
	margin-bottom: 8px; }
	
.select2-dropdown {
	padding: 0;
	border-radius: 0; }
	
.select2-container--default .select2-results>.select2-results__options { max-height: 180px; }
	
.select2-results__option {
	font-size: 1rem;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 5px;
	padding-bottom: 6px; }

	
.select2-container--default .select2-results__option--highlighted[aria-selected] {
	color: #fff;
	background-color: #94c44b; }
	
	
	
	
/** **/
.condition-filter .accordion-title {
	font-size: 1rem;
	line-height: 1.5;
	padding-bottom: 2rem;
	color: #2c3539;
	padding: 0;
	border: 0;
	position: relative; }
	
.condition-filter .accordion-title::before {
	font: normal normal normal 14px/1 FontAwesome;
	content: "\f078";
	margin: 0;
	left: auto;
	right: 0;
	top: 50%;
	transform: translateY(-50%); }
	
.condition-filter .is-active .accordion-title::before { content: "\f077"; }

.condition-filter .accordion-title:hover, .condition-filter .accordion-title:focus { background-color: transparent; }

.condition-filter .accordion-content { padding-bottom: 0; }

.condition-filter .accordion-content:before, .condition-filter .accordion-content:after {
	content: "";
	display: table; }
.condition-filter .accordion-content:after { clear: both; }




/** **/
div.ginput_container.ginput_container_checkbox { margin: 0; }

ul.gfield_checkbox {
	padding: 0;
	margin: 0;
	list-style-type: none; }

ul.gfield_checkbox li {
	width: 33.3333%;
	margin-bottom: 1rem;
	position: relative;
	float: left; }
ul.gfield_checkbox.search-page li { width: 25%; }
	
ul.gfield_checkbox li [type="checkbox"] {
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0; }
	
ul.gfield_checkbox li [type="checkbox"] + label {
	font-size: 0.875rem;
	line-height: 24px;
	padding: 0;
	padding-left: 32px;
	margin: 0;
	position: relative }
	
ul.gfield_checkbox li [type="checkbox"] + label:before {
	content: "";
	font: normal normal normal 14px/1 FontAwesome;
	line-height: 24px;
	text-align: center;
	width: 24px;
	height: 24px;
	border: 1px solid #e1e1e1;
	position: absolute;
	left: 0;
	top: 0; }
	
ul.gfield_checkbox li [type="checkbox"]:checked + label:before { content: "\f00c"; }




/** **/
.dashboard .icon {
	color: #fff;
	background-color: #94c44b;
	width: 80px;
	height: 80px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1rem;
	display: block;
	position: relative;
	border-radius: 50%; }
	
.dashboard .icon:hover { background-color: #992266; }
	
.dashboard .icon i {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%); }
	
	
	
/** **/
form#login {
	margin-top: 5rem;
	margin-bottom: 1rem; }

form#login .container {
	padding: 1rem 2rem;
	border: 1px solid #e1e1e1; }


form#login h1 {
	text-align: center;
	color: #94c44b; }

